body{
    background-color: #18bc9c;
}

#title_inscription{
    text-align: center;
    font-style: 53px;
}

#centerButton{
    width: 20%;
    background-color: #18bc9c;
    color: #2c3e50;
}

.jumbotron{
    background-color: #2c3e50;
    color: white;
}

red{
    color: red;
}

#contmargin{
    margin-top:6%;
}

#margintopcontainer{
    margin-top: 7%;
}

h1{
    text-align: center;
}

.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#2c3e50;
}

#centerBut{
    background-color: #2c3e50;
    color: #18bc9c;
}

.green{
    color: green;
}

.orange{
    color: #FFDA8C;
}

.red{
    color: red;
}

.bold{
    font-weight: bold;
}

#rowUsers{
    margin-top: 14%;
}

#rowCatUsers{
    margin-top: 5%;
}

.display-3{
    font-size: 75px;
}