#errorLog {
    display: none !important;
}

#btn-connexion, #btn-1vs1, .bleu-marine {
    background-color: #2c3e50 !important;
    border-color: #2c3e50 !important;
}

.panel-footer a {
    color : white !important;
    text-decoration: underline;
    margin-right: 15px !important;
}

.panel-heading {
    color: black !important;
}